@import './../../base';

.global-data-container {
  display: flex;
  justify-content: center;
  background-color: $background-secondary-color;
}

.global-data-ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .global-data-ul {
    display: flex;
    justify-content: center;
  }
}

.global-data-li {
  float: left;
}

.global-data-li span {
  display: block;
  color: $text-primary-color;
  text-align: center;
  padding: $spacing-S;
}
