@import './../../../theme';

.global-data-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: $background-secondary-color;
}

@media screen and (max-width: $smartphone-breakpoint) {
  .global-data-container {
    flex-direction: column;
  }
}

.global-data span {
  display: block;
  color: $text-primary-color;
  text-align: center;
  padding: $spacing-S;
}
