<div class="global-data-container">
  <ul class="global-data-ul">
    <li class="global-data-li">
      <span
        >Total Market Cap: ${{
          globalData.total_market_cap_usd | number: "1.0-2"
        }}</span
      >
    </li>
    <li class="global-data-li">
      <span
        >Total 24h Volume: ${{
          globalData.total_24h_volume_usd | number: "1.0-2"
        }}</span
      >
    </li>
    <li class="global-data-li">
      <span
        >Bitcoin Dominance:
        {{
          globalData.bitcoin_percentage_of_market_cap | number: "1.0-2"
        }}%</span
      >
    </li>
    <li class="global-data-li">
      <span
        >Active Currencies:
        {{ globalData.active_currencies | number: "1.0-2" }}</span
      >
    </li>
    <li class="global-data-li">
      <span
        >Active Assets: {{ globalData.active_assets | number: "1.0-2" }}</span
      >
    </li>
    <li class="global-data-li">
      <span
        >Active Markets: {{ globalData.active_markets | number: "1.0-2" }}</span
      >
    </li>
  </ul>
</div>
