<div class="row cryptocurrency-container">
  <table class="cryptocurrency-table">
    <tr>
      <th>Rank</th>
      <td>{{ cryptocurrency.rank | number: fractionSize }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ cryptocurrency.name }}</td>
    </tr>
    <tr>
      <th>Symbol</th>
      <td>{{ cryptocurrency.symbol }}</td>
    </tr>
    <tr>
      <th>Price in USD</th>
      <td>${{ cryptocurrency.price_usd | number: fractionSize }}</td>
    </tr>
    <tr>
      <th>24h Volume</th>
      <td>${{ cryptocurrency.last_24h_volume_usd | number: fractionSize }}</td>
    </tr>
    <tr>
      <th>Market Cap</th>
      <td>${{ cryptocurrency.market_cap_usd | number: fractionSize }}</td>
    </tr>
    <tr>
      <th>Circulating Supply</th>
      <td>{{ cryptocurrency.available_supply | number: fractionSize }}</td>
    </tr>
  </table>

  <button (click)="goBack()" class="button">Go back</button>
</div>
