@import './../../../theme';

.cryptocurrency-container {
  display: flex;
  flex-direction: row;
  width: $component-size-L;

  @media screen and (max-width: $smartphone-breakpoint) {
    flex-direction: column;
  }

  .cryptocurrency-title-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $tablet-breakpoint) {
      width: 100%;
    }
  }

  .cryptocurrency-detail-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $tablet-breakpoint) {
      width: 100%;
    }

    .cryptocurrency-price-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .cryptocurrency-price {
        padding: 0 $spacing-L 0 0;
      }
    }

    .cryptocurrency-secondary-details-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: $spacing-M 0 0 0;

      @media screen and (max-width: $tablet-breakpoint) {
        flex-direction: column;
      }
    }

    .card-container {
      padding: $spacing-M;
      box-shadow: 0 $spacing-XS $spacing-S 0 rgba(0, 0, 0, 0.2);
      padding: $spacing-M;
      margin: $spacing-M $spacing-M 0 0;
      text-align: center;
      background-color: $white;

      .card-title {
        color: $greyNevada;
      }

      .card-content {
        padding: $spacing-L 0 0 0;
      }
    }
  }

  .profit {
    color: $text-profit-color;
  }

  .loss {
    color: $text-loss-color;
  }
}
