<div class="app-container" *ngIf="contentDictionary$ | async as contentDictionary">
  <global-data
    [globalData]="globalData$ | async"
    [contentDictionary]="contentDictionary$ | async"
    *ngIf="!(isLoadingGlobalData$ | async)"
  ></global-data>
  <header class="header-container">
    <div class="title-container">
      <a [routerLink]="['/cryptocurrencies']"
        ><h1>{{ contentDictionary.appName }}</h1></a
      >
    </div>
    <app-search-form
      (onSubmit)="handleSearchFormOnSubmit($event)"
      (onClear)="handleSearchFormOnClear()"
    ></app-search-form>
  </header>
  <div class="router-container" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet" class="router"></router-outlet>
  </div>
</div>
