@import './../theme';

.app-container {
  text-align: center;
}

a:link,
a:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: $text-primary-color;
}

.header-container {
  padding: $spacing-M;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  @media screen and (max-width: $tablet-breakpoint) {
    flex-direction: column;
    justify-content: center;
  }
}

.title-container {
}

.router-container {
  margin: $spacing-S;
  border-radius: $spacing-M;
  padding: $spacing-L;
  display: inline-block;
}

.router {
}
