@import "./../base";

.app-container {
  text-align: center;
}

.header-container {
  padding: $spacing-M;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title-container {
}

.router-container {
  margin: $spacing-S;
  border-radius: $spacing-M;
  padding: $spacing-L;
  background-color: $background-secondary-color;
  display: inline-block;
}
