@import './../../../theme';

.search-form-container {
  padding: $spacing-M;
  border-radius: $spacing-S;
  background-color: $background-secondary-color;
  display: flex;
  align-items: center;
  width: $component-size-S;

  @media screen and (max-width: $tablet-breakpoint) {
    width: 100%;
  }

  .search-input {
    width: 100%;
  }
}
