// Color palette
$black: #000000;
$blueRibbon: #0066FF;
$white: #FFFFFF;
$greyAlto: #DBDBDB;

// Background colors
$background-primary-color: $blueRibbon;
$background-secondary-color: $white;

// Text colors
$text-primary-color: $black;
$text-secondary-color: $blueRibbon;
$text-tertiary-color: $white;

// Border colors
$border-primary-color: $greyAlto;

// Spacings
$spacing-XS: 4px;
$spacing-S: 10px;
$spacing-M: 16px;
$spacing-L: 24px;
$spacing-XL: 30px;
$spacing-XXL: 45px;

// Font sizes
$font-size-smartphone: 10px;
$font-size-tablet: 11px;
$font-size-small-desktop: 12px;
$font-size-large-desktop: 16px;
