/* You can add global styles to this file, and also import other style files */
@import "./base";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./assets/normalize.css";

body {
  background-color: $background-primary-color;
  font-family: "Proxima Nova", sans-serif;
}

h1 {
  color: $text-tertiary-color;
}

@media (max-width: 600px) {
  body {
    font-size: $font-size-smartphone;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  body {
    font-size: $font-size-tablet;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  body {
    font-size: $font-size-small-desktop;
  }
}

@media (min-width: 1201px) {
  body {
    font-size: $font-size-large-desktop;
  }
}
