@import './../../base';

.cryptocurrencies-container {

}

.cryptocurrencies-table td, th {
  border-bottom: 1px solid $border-primary-color;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $spacing-M;
}

.cryptocurrencies-table a:link, .cryptocurrencies-table a:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: $text-primary-color;
}

.cryptocurrencies-table a:hover {
  color: $text-secondary-color;
  text-decoration-color: $text-secondary-color;
  text-decoration: underline;
}
