<table class="cryptocurrencies-table">
  <tr>
    <td>Name</td>
    <td>Market Cap</td>
    <td>Price</td>
    <td>24h Volume</td>
    <td>Circulating Supply</td>
    <td>Change(24h)</td>
    <td>Symbol</td>
  </tr>
  <tr *ngFor="let cryptocurrency of cryptocurrencies">
    <td>
      <a [routerLink]="['/cryptocurrency', cryptocurrency.symbol]">
        {{cryptocurrency.name}}
      </a>
    </td>
    <td>${{cryptocurrency.market_cap_usd | number : fractionSize}}</td>
    <td>${{cryptocurrency.price_usd | number : fractionSize}}</td>
    <td>${{cryptocurrency.last_24h_volume_usd | number : fractionSize}}</td>
    <td>{{cryptocurrency.available_supply | number : fractionSize}}</td>
    <td>{{cryptocurrency.percent_change_24h | number : fractionSize}}%</td>
    <td>{{cryptocurrency.symbol}}</td>
  </tr>
</table>
