@import "./../../../base";

.cryptocurrencies-container {
  width: 80vw;

  table {
    width: 100%;
  }

  th {
    color: $text-primary-color;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  td {
    padding-left: $spacing-M;
  }

  a:link,
  a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: $text-primary-color;
  }

  a:hover {
    color: $text-secondary-color;
    text-decoration-color: $text-secondary-color;
    text-decoration: underline;
  }

  .profit {
    color: $text-profit-color;
  }

  .loss {
    color: $text-loss-color;
  }
}
