<div class="cryptocurrencies-container" style="overflow-x:auto;">
  <div
    class="cryptocurrencies-table-scroller"
    *ngIf="cryptocurrencies.length > 0"
  >
    <table class="cryptocurrencies-table">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Market Cap</th>
        <th>Price</th>
        <th>24h Volume</th>
        <th>Circulating Supply</th>
        <th>Change(24h)</th>
        <th>Symbol</th>
      </tr>
      <tr *ngFor="let cryptocurrency of cryptocurrencies">
        <td>{{ cryptocurrency.rank | number: "1.0-2" }}</td>
        <td>
          <a [routerLink]="['/cryptocurrency', cryptocurrency.symbol]">
            {{ cryptocurrency.name }}
          </a>
        </td>
        <td>${{ cryptocurrency.market_cap_usd | number: "1.0-2" }}</td>
        <td>${{ cryptocurrency.price_usd | number: "1.0-2" }}</td>
        <td>${{ cryptocurrency.last_24h_volume_usd | number: "1.0-2" }}</td>
        <td>{{ cryptocurrency.available_supply | number: "1.0-2" }}</td>
        <td
          [ngClass]="{
            profit: cryptocurrency.percent_change_24h > 0,
            loss: cryptocurrency.percent_change_24h < 0
          }"
        >
          {{ cryptocurrency.percent_change_24h | number: "1.0-2" }}%
        </td>
        <td>{{ cryptocurrency.symbol }}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="cryptocurrencies.length === 0">No results available</div>
</div>
